@charset "UTF-8";


/* form styling */


body{
    background-color: rgb(231, 194, 146);
    color: #27211f;
}

#wrapper {
	width: 60%;
	margin-left:4%;
}


div#formcol1 {
	float:left;	
	width: 100%;
}

label {
	margin-right: .3em;
	width: 5.5em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
    text-align: right;
    margin-left: -2.0em
}
label1 {
	margin-right: .3em;
	width: 3.5em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
    text-align: right;
}
label2 {
	margin-right: .3em;
	width: 5.9em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
    text-align: right;
}

#formcol1 li {   
	list-style:none;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
    color: #27211f!important;
    background-color: #FF9 !important;}
    
    
    #formcol1 input.reqfield {
        background:#cebfbd;
    }
    

/* end of form css */
	
